/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (max-width:567px){
    .client-data p{
        font-size: 10px;
    }
    .client-data h5{
        font-size: 10px;
    }
    .client-swiper .swiper-slide-active,.client-swiper .swiper-slide{
       padding: 16px;
    }
}

@media screen and (max-width:768px){
    h1{
        font-size: 36px;
    }
    .intro p{
        width: 100%!important;
    }
    header nav .navbar-collapse{
        background-color: #fff;
    }
    header nav .container-md{
        padding: 0!important;
    }
    header .nav-link{
        color: #282828!important;
    }
    header .navbar-brand{
        padding-left: 8px!important;
    }
    .card{
        width: 100%!important;
    }
    .ideas {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .ideas h5{
        font-size: 24px;
    }
    .get-on-touch h4{
        font-size: 24px;
    }
    .get-on-touch .c-data{
        margin-bottom: 32px;
    }
    
}